# Example mysql config file.

[client-server]
socket=/tmp/mysql-dbug.sock
port=3306

# This will be passed to all mysql clients
#[client]
#password=admin

# Here are entries for some specific programs
# The following values assume you have at least 32M ram

# The MySQL server
[mysqld]
temp-pool
key_buffer_size=16M
datadir=/my/mysqldata
loose-innodb_file_per_table

[mariadb]
datadir=/my/data
default-storage-engine=aria
max-connections=20

[mariadb-5.5]
language=/my/maria-5.5/sql/share/english/
socket=/tmp/mysql-dbug.sock
port=3306

[mariadb-10.1]
language=/my/maria-10.1/sql/share/english/
socket=/tmp/mysql2-dbug.sock

[mysqldump]
quick
max_allowed_packet=16M

[mysql]
no-auto-rehash
loose-abort-source-on-error

[mysqld]
bind-address = 0.0.0.0

[mariadb]
bind-address = 0.0.0.0

[mysqld]
unix_socket=OFF