<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edição Carro</title>
</head>

<body>
    <h1>Edição Carro</h1>

    <form>
        <label for="modelo">Modelo:</label><br>
        <input type="text" id="modelo" name="modelo"><br>
        <label for="placa">Placa:</label><br>
        <input type="text" id="placa" name="placa"><br>
        <label for="entrda">Entrada</label><br>
        <input type="text" id="data_entrada" name="data_entrada" readonly disabled><br>
        <input type="submit" value="Salvar">
    </form>

</body>

</html>