<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Veiculos Estacionados</title>
</head>

<body style="background-color:darkgray ; ">
    <div style="display:flex; justify-content: space-between; background-color: white;padding: 1rem;">
        <h1>Veiculos Estacionados</h1>
        <div style="display: flex; justify-content: center; align-items: center;">
            <div style="display: flex; padding: 1rem;">
                <div id="listaEstacionados" class="form-check" style="margin: 1rem ;">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                        Estacionados
                    </label>
                </div>
                <div id="listaSaida" class="form-check" style="margin: 1rem ;">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Sairam
                    </label>
                </div>
            </div>
            <a href="/new-car" class="btn btn-success">Novo</a>
        </div>
    </div>
    <main class="container-fluid" >
    <section style="padding: 1rem;">
        <table class="table" style="background-color: white; ">
            <thead class="head">
                <tr>
                    <th>ID</th>
                    <th>Modelo</th>
                    <th>Placa</th>
                    <th>Data Entrada</th>
                    <th>Opções</th>

                </tr>
            </thead>
            <tbody>
                <th:block th:each="car : ${listCars}">
                    <tr>
                        <td>[[${car.id}]]</td>
                        <td>[[${car.modelo}]]</td>
                        <td>[[${car.placa}]]</td>
                        <td>[[${car.data_entrada}]]</td>
                        <td>
                            <a th:href="@{/out-car/{id}(id=${car.id})}" class="btn btn-danger">Sair</a>
                            <a th:href="@{/edit-car/{id}(id=${car.id})}" class="btn btn-warning">Editar</a>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </section>
    </main>
    <script>
        var radioEstacionado = document.querySelector("#listaSaida");

        radioEstacionado.addEventListener("click", function () {
            location.href = "/parking-out";
        })

    </script>

</body>

</html>